body,h1,h2,h3,h4,h5,h6 {
    font-family: serif, sans-serif;
}

img{
    width: 40%;
}

.instrument-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 120px;
    justify-content: center; /* centres the columns */
    padding: 20px;
}

.instrument-card {
    background: rgb(255, 255, 255);
    border: 5px solid rgb(119, 119, 119);
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    height: 500px;
}

.instrument-card img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    margin-top: 10px;
}

.page-layout {
    display: flex;
}

.sidebar {
    width: 300px;
    min-height: 100vh;
    background: #19323c;

    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(255, 255, 255);
    padding: 30px;
    font-size: 40px;
    text-align: left;
}

.sidebar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 40px;
    text-align: left;
}

.content {
    flex: 1;
}

.sidebar .w3-button {
    font-size: 28px; /* Adjustable */
}

.instrument {
    width: 80%;
    margin: auto;
}

.instrument h1 {
    text-align: center;
    margin-bottom: 40px;
}

.instrument-layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.instrument-image img {
    width: 700px;
    height: auto;
}

.instrument-details {
    flex: 1;
}

.instrument-details h2 {
    margin-top: 0;
}

.instrument-details{
    background: #303030;
    border-radius: 12px;
    overflow: hidden;
}

.detail{
    padding: 18px 25px;
    border-bottom: 3px solid #000000;
}

.detail:last-child{
    border-bottom: none;
}

.detail h2{
    margin: 0;
    color: white;
    font-size: 22px;
}

.detail p{
    margin: 8px 0 0;
    color: #dfdfdf;
    font-size: 18px;
    line-height: 1.5;
}
