body,h1,h2,h3,h4,h5,h6 {
    font-family: serif, sans-serif;
}

img{
    width: 40%;
}

.instrument-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 120px;
    justify-content: center; /* centres the columns */
    padding: 20px;
}

.instrument-card {
    background: rgb(255, 255, 255);
    border: 5px solid rgb(119, 119, 119);
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    height: 500px;
}

.instrument-card:hover{
    background:#979797;
    transition: 0.3s;
}

.instrument-card img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    margin-top: 10px;
}

.instrument-card:hover img{
    filter: brightness(0.59);
    transition: 0.3s;
}

.page-layout {
    display: flex;
}

.navbar {
    width: 300px;
    min-height: 100vh;
    background: #19323c;

    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(255, 255, 255);
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 40px;
    text-align: left;
}

.content {
    flex: 1;
}

.navbar .w3-button {
    font-size: 28px; 
}

.instrument {
    width: 80%;
    margin: auto;
}

.instrument h1 {
    text-align: center;
    margin-bottom: 40px;
}

.instrument-layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.instrument-image img {
    width: 700px;
    height: auto;
}

/* for the last page */
.instrument-details{
    background: #303030;
    border-radius: 12px;
}

/* lines between each setion for last page */
.detail{
    padding: 18px 25px;
    border-bottom: 3px solid #000000;
}

/* no gap line at the bottom of last page */
.detail:last-child{
    border-bottom: none;
}

/* text for the tiny headings */
.detail h2{
    margin: 0;
    color: white;
    font-size: 22px;
}

/* text for the text */
.detail p{
    margin: 8px 0 0;
    color: #dfdfdf;
    font-size: 18px;
    line-height: 1.5;
}

/* to make text more align for the why brass?*/
.why-layout{
    width:90%;
    margin:40px auto;

    display:grid;
    grid-template-columns:1fr 220px;
    gap:200px;
}

/* gap between text*/
.why-content{
    display:flex;
    flex-direction:column;
    gap:50px;
}

/* column to make image on right and text on left*/
.text-section{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:40px;
    align-items:center;
}

/* images */
.brassimg img{
    width:130%;
    border-radius:12px;
    display:block;
}

/* cards */
.brass-reasons{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* cards for the text appearance */
.reason-card{
    padding:20px;
    border-radius:12px;
    background:#f7f7f7;
}


/* Sidebar for the why brass */
.quick-search{
    position: sticky;
    top:100px;
    height:fit-content;

    padding-left:20px;
    border-left:3px solid #7c7c7c;
}

/* Make them individual rather than together*/
.quick-search a{
    display:block;
    text-decoration:none;
    color:#444;
    margin:12px 0;
}

/* color when hover */
.quick-search a:hover{
    color:#008bb6;
}

.back-button{
    position: relative;
    top: 50px;      /* moves the button down */
    left: 20px;
    display: inline-block;
    padding: 10px 18px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.back-button:hover{
    background:#555;
}

.care-page{
    width:90%;
    margin:auto;
}

.care-page h1{
    text-align:center;
    font-size:50px;
}

.subtitle{
    text-align:center;
    margin-bottom:30px;
}

.care-search{
    display:flex;
    justify-content:center;
    margin-bottom:40px;
}

.care-search input{
    width:450px;
    padding:12px;
    font-size:16px;
}

.care-search button{
    padding:12px 18px;
}

.care-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.care-card{
    text-align: center;
    background:white;
    border:2px solid #ccc;
    border-radius:10px;
    padding:20px;
}

.care-card img{
    width:50%;
    height:170px;
    object-fit:cover;
    margin:15px 0;
    align-items: center;
}

.care-card h2{
    margin-top:0;
}

.care-card ul{
    padding-left:20px;
}

.care-card li{
    margin-bottom:8px;
}