<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Serif">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Brassopedia</title>
</head>
<body>
    <div class="page-layout">
        <nav class="sidebar">
            <h1 class="title">Brassopedia</h1>
            <a href="/" class="w3-button">Home</a>
            <a href="/competitions" class="w3-button">Competitions</a>
            <a href="/whybrass" class="w3-button">Why Brass ?</a>
        </nav>
        <main class="content">
            {% block body %}
            {% endblock %}
        </main>
    </div>
</body>
</html>