{% extends "layout.html" %}
{% block body %}
<div class="instrument">
    <h1>{{ result[2] }} / {{ result[3] }}</h1>
    <div class="instrument-layout">
        <div class="instrument-image">
            <img src="{{ result[5] }}" alt="{{ result[2] }} {{ result[3] }}">
        </div>
        <div class="instrument-details">
            <div class="detail">
                <h2>Instrument:</h2>
                <p>{{ result[1] }}</p>
            </div>
            <div class="detail">
                <h2>Brand:</h2>
                <p>{{ result[2] }}</p>
            </div>
            <div class="detail">
                <h2>Model:</h2>
                <p>{{ result[3] }}</p>
            </div>
            <div class="detail">
                <h2>Country of Origin:</h2>
                <p>{{ result[7] }}</p>
            </div>
            <div class="detail">
                <h2>Price:</h2>
                <p>${{ result[4] }}</p>
            </div>
            <div class="detail">
                <h2>Description:</h2>
                <p>{{ result[6] }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
